<div class="container">
  <div class="db-icon">
    <a href="https://db.tec.br/" target="_blank"
      ><img src="../../../assets/img/icon-db.svg" alt=""
    /></a>
  </div>
  <mat-icon
    class="menu__mobile"
    aria-label="menu"
    fontIcon="menu"
    (click)="toggleMenu()"
  ></mat-icon>
  <div class="menu__nav">
    <nav class="menu__nav__navigation" #menuNav>
      <ul class="menu__nav__navigation__list">
        <li class="menu__nav__navigation__list__item">
          <a class="menu__nav__navigation__list__item__name" routerLink="/"
            >Sobre</a
          >
        </li>
        <li class="menu__nav__navigation__list__item">
          <a
            class="menu__nav__navigation__list__item__name"
            href="../../../assets/documents/CV-Paola-Arruee.pdf"
            target="_blank"
            >Currículo</a
          >
        </li>
        <li class="menu__nav__navigation__list__item">
          <a
            class="menu__nav__navigation__list__item__name"
            routerLink="/projetos"
            >Projetos</a
          >
        </li>
      </ul>
    </nav>
  </div>

  <div class="redes">
    <a href="mailto:paolaarruee@gmail.com" target="_blank"
      ><img src="../../../assets/img/icons-menu/email.svg" alt=""
    /></a>
    <a href="https://github.com/paolaarruee" target="_blank"
      ><img src="../../../assets/img/icons-menu/github.svg" alt=""
    /></a>
    <a href="https://www.linkedin.com/in/paolaarruee/" target="_blank"
      ><img src="../../../assets/img/icons-menu/linkedin.svg" alt=""
    /></a>
  </div>
</div>
