<div class="container">
  <div class="header">
    <div class="header__title">
      <p class="header__title__introduction">Olá, meu nome é</p>
      <p class="header__title__name">Paola Arrueé</p>

      <p class="header__title__description">
        Sou uma desenvolvedora full stack com foco em Front-end na DBServer.
      </p>
    </div>

    <div class="header__image">
      <img
        src="../../../assets/img/projetos/avatar.png"
        alt=""
        class="header__image__profile"
      />
    </div>
  </div>

  <div class="information">
    <div class="about">
      <p class="about__title">Sobre Mim</p>
      <p class="about__text">
        Como desenvolvedora, comecei minha jornada como especialista em
        front-end e, ao longo do tempo, expandi minha atuação para abraçar
        desafios full-stack. Tenho experiência prática com diversas tecnologias,
        incluindo Angular, React, React Native, Spring Boot, Node.js e Express.
        Atualmente, estou aprimorando minhas habilidades em .NET. Atualmente,
        desempenho o papel de mentora de alguns trainees, compartilhando meu
        conhecimento e experiência para ajudá-los a crescer em suas próprias
        jornadas profissionais.
      </p>
    </div>

    <div class="skills">
      <p class="title-skills">Habilidades</p>
      <div class="range" *ngFor="let skill of skills">
        <div class="conteudo">
          <div class="title">
            <p>{{ skill.titulo }}</p>
          </div>

          <div class="circles">
            <div
              *ngFor="let _ of getFilledCircles(skill.nivel)"
              class="circles__full-circle"
            ></div>
            <div
              *ngFor="let _ of getEmptyCircles(skill.nivel)"
              class="circles__empty-circle"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
